In [1]:
import pandas as pd
import numpy as np

In [2]:
digital_path = './data/data_total_20210118.csv'
text_path = './data/total_vector_20210116_095132.csv'

In [3]:
digital_data = pd.read_csv(digital_path, encoding='ANSI')
text_data = pd.read_csv(text_path)
print(digital_data.shape)
print(text_data.shape)

(1319, 67)
(1328, 769)

In [4]:
digital_data.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,失访,已故,心源性死亡,新发/再发心肌梗死
0,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,0,1,1,1.0,2,0.0,NaN,NaN,NaN,NaN
1,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,1,1,0,0.0,1,0.0,NaN,NaN,NaN,NaN
2,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,0,0,1,0.0,1,0.0,NaN,NaN,NaN,NaN
3,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,1,0,0,0.0,2,1.0,NaN,NaN,NaN,NaN
4,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,1,1,0,0.0,1,1.0,NaN,NaN,NaN,NaN

In [5]:
text_data.head()

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
0,刘天英（1）,0.475762,-0.034400,-0.030530,-0.184578,0.021422,-0.792204,0.169212,-0.069071,-0.573182,...,-0.106016,-0.101858,-0.416623,0.388382,-0.286094,0.310671,-0.361810,0.460362,-0.872093,-0.028615
1,张玉英,0.517347,-0.079989,-0.008176,-0.134228,0.086993,-0.821924,0.221668,-0.058042,-0.654224,...,-0.136822,-0.146299,-0.448889,0.345732,-0.321898,0.230025,-0.320535,0.410185,-0.793381,0.015183
2,张顺来,0.360224,-0.107051,0.011379,-0.144353,0.106652,-0.707306,0.196601,-0.137558,-0.631871,...,-0.109281,-0.117721,-0.477444,0.336844,-0.205312,0.178455,-0.302192,0.386569,-0.854767,-0.048401
3,户保金,0.511570,-0.071196,0.006295,-0.097856,0.099225,-0.852942,0.176021,-0.089256,-0.636622,...,-0.128779,-0.142607,-0.405238,0.331233,-0.300529,0.247441,-0.284829,0.436356,-0.745944,0.008560
4,李云胜,0.570379,-0.041863,-0.034313,-0.154733,0.093796,-0.932976,0.166818,-0.074107,-0.574165,...,-0.086302,-0.117299,-0.357662,0.411762,-0.355512,0.241118,-0.283940,0.510103,-0.814921,-0.032101

In [6]:
digital_data[digital_data['姓名'].duplicated(keep='first')]

Empty DataFrame
Columns: [编号, 姓名, 入院日期, 性别, 身高（cm）, 体重（kg）, BMI, 年龄, 心率（次/分）, 收缩压（mmHg）, 肌酐（μmol/L）/88,4, Killip分级, 危险因素, 总分, 危险级别, 高血压病史, 糖尿病病史, 吸烟史, 饮酒史, 心肌梗死史, 血运重建史, 心力衰竭史, 脑血管病史, 呼吸系统病史, 肾功能不全, 早发心血管疾病家族史, 心律失常病史, 颈动脉斑块(有无斑块)左侧, 颈动脉斑块(有无斑块)右侧, 颈动脉斑块(有无斑块)双侧, 临床诊断, cTnT(ng/l), CK-MB(ng/ml), MYO(ng/ml), NT-poBNP(pg/mL), APOB(g/L), TC(mmol/L), TG(mmol/L), LDL-C(mmol/L), FPG(mmol/L), BUN(mmol/L), CR(μmol/L), HB(g/L), HbA1c(%), CRP(mg/L), 凝血酶原时间(S), 纤维蛋白原(g/L), ST-T动态改变, 致命性心律失常, 心脏骤停, LV(mm), LVEF（%）, MI机械并发症, 时间是否推迟, 拜阿司匹林, P2Y12受体拮抗剂, 倍他乐克, 单硝酸异山梨酯类, 曲美他嗪, 尼可地尔, ACEI/ARB, 他汀类, CCB, 失访, 已故, 心源性死亡, 新发/再发心肌梗死]
Index: []

[0 rows x 67 columns]

In [7]:
text_data[text_data['0'].duplicated(keep='first')]

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
503,王生宝,0.478219,-0.058745,-0.049707,-0.112885,0.081370,-0.877045,0.189355,-0.078943,-0.613349,...,-0.103148,-0.122914,-0.383097,0.402311,-0.378792,0.248055,-0.271095,0.473611,-0.818696,-0.091651
565,孙玉芝,0.552266,-0.039518,-0.066331,-0.169091,0.126937,-0.867565,0.160255,-0.023292,-0.555477,...,-0.051421,-0.109741,-0.405670,0.404662,-0.329565,0.237669,-0.308131,0.443209,-0.839364,-0.082888
688,徐峰,0.365278,-0.121899,-0.033122,-0.193924,0.097667,-0.699076,0.215159,-0.117461,-0.481854,...,-0.135790,-0.151306,-0.392381,0.421645,-0.176094,0.216308,-0.292890,0.360286,-0.835882,-0.084142
804,刘凤兰,0.414709,-0.014185,0.013099,-0.144263,0.118041,-0.804411,0.150167,-0.150609,-0.483489,...,-0.235047,-0.131920,-0.390040,0.162216,-0.263605,0.169279,-0.211372,0.337087,-0.716460,-0.038512
1051,刘少慧,0.479347,-0.042871,-0.041311,-0.199387,0.130472,-0.909464,0.188516,-0.055254,-0.527553,...,-0.007562,-0.168805,-0.329777,0.440170,-0.324786,0.225326,-0.264407,0.512917,-0.809597,-0.001129
1086,张加华,0.338794,0.008769,-0.024245,-0.158762,0.036107,-0.748674,0.172792,-0.180708,-0.643115,...,-0.129763,-0.155870,-0.310445,0.321539,-0.336312,0.219542,-0.425277,0.539902,-0.762342,-0.030745
1116,韩树章,0.427752,-0.018271,-0.035944,-0.158172,0.055576,-0.905515,0.179939,-0.117406,-0.594280,...,-0.013004,-0.070567,-0.408639,0.486824,-0.373855,0.269394,-0.325162,0.538173,-0.844283,-0.024565
1259,杨延英,0.572370,-0.062144,-0.004591,-0.147370,0.071761,-0.792341,0.220345,-0.065537,-0.583541,...,-0.100697,-0.097716,-0.417411,0.300724,-0.277939,0.209990,-0.317294,0.356115,-0.788390,-0.003867
1316,柏爱花,0.436625,0.043334,0.025984,-0.158123,0.146603,-0.760215,0.167458,-0.140820,-0.580701,...,-0.201221,-0.100734,-0.356551,0.298035,-0.354835,0.219529,-0.306967,0.400047,-0.729901,0.011323

In [8]:
# digital_data.drop_duplicates(subset=['姓名'],keep='first',inplace=True)

In [9]:
# digital_data.drop(columns=['编号', '入院日期', 'BMI', 'MYO(ng/ml)', 'CRP(mg/L)', 'HbA1c(%)', 'APOB(g/L)', '失访'])
digital_data.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,失访,已故,心源性死亡,新发/再发心肌梗死
0,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,0,1,1,1.0,2,0.0,NaN,NaN,NaN,NaN
1,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,1,1,0,0.0,1,0.0,NaN,NaN,NaN,NaN
2,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,0,0,1,0.0,1,0.0,NaN,NaN,NaN,NaN
3,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,1,0,0,0.0,2,1.0,NaN,NaN,NaN,NaN
4,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,1,1,0,0.0,1,1.0,NaN,NaN,NaN,NaN

In [10]:
digital_data_exist = digital_data[digital_data['失访'].isna()]
digital_data_exist.shape

(1231, 67)

In [11]:
digital_data_exist_drop = digital_data_exist.drop(columns=['编号', '入院日期', 'BMI', 'MYO(ng/ml)', 'CRP(mg/L)', 'HbA1c(%)', 'APOB(g/L)', '失访'])
digital_data_exist_drop.shape

(1231, 59)

In [12]:
digital_data_exist_drop_replace = digital_data_exist_drop
digital_data_exist_drop_replace[['身高（cm）', '体重（kg）']] = digital_data_exist_drop[['身高（cm）', '体重（kg）']].replace(['平车', '轮椅', 'pc', '?', np.NAN], 0)
digital_data_exist_drop_replace.shape

(1231, 59)

In [13]:
digital_data_exist_drop_replace[['身高（cm）', '体重（kg）']]

     身高（cm） 体重（kg）
0         0      0
1         0      0
2       170      0
3       165     72
4         0      0
...     ...    ...
1313    167     67
1315    165     60
1316      0     51
1317    168     70
1318    170     84

[1231 rows x 2 columns]

In [14]:
digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 1) & (digital_data_exist_drop_replace['身高（cm）'].astype('float') != 0)]['身高（cm）'].astype('float').mean()

170.98459563543003

In [15]:
digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 2) & (digital_data_exist_drop_replace['身高（cm）'].astype('float') != 0)]['身高（cm）'].astype('float').mean()

158.90243902439025

In [16]:
digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 1) & (digital_data_exist_drop_replace['体重（kg）'].astype('float') != 0)]['体重（kg）'].astype('float').mean()

75.70609065155807

In [17]:
digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 2) & (digital_data_exist_drop_replace['体重（kg）'].astype('float') != 0)]['体重（kg）'].astype('float').mean()

64.31531531531532

In [18]:
man_height_mean = round(digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 1) & (digital_data_exist_drop_replace['身高（cm）'].astype('float') != 0)]['身高（cm）'].astype('float').mean())
woman_height_mean = round(digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 2) & (digital_data_exist_drop_replace['身高（cm）'].astype('float') != 0)]['身高（cm）'].astype('float').mean())
man_weight_mean = round(digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 1) & (digital_data_exist_drop_replace['体重（kg）'].astype('float') != 0)]['体重（kg）'].astype('float').mean(), 1)
woman_weight_mean = round(digital_data_exist_drop_replace[(digital_data_exist_drop_replace['性别'] == 2) & (digital_data_exist_drop_replace['体重（kg）'].astype('float') != 0)]['体重（kg）'].astype('float').mean(), 1)
man_height_mean, woman_height_mean, man_weight_mean, woman_weight_mean

(171, 159, 75.7, 64.3)

In [19]:
df_height = digital_data_exist_drop_replace['身高（cm）']
man_height_index = (digital_data_exist_drop_replace['性别'] == 1) & (digital_data_exist_drop_replace['身高（cm）'].astype('float') == 0)
woman_height_index = (digital_data_exist_drop_replace['性别'] == 2) & (digital_data_exist_drop_replace['身高（cm）'].astype('float') == 0)

In [20]:
df_height[man_height_index] = df_height[man_height_index].replace([0], man_height_mean)
df_height[woman_height_index] = df_height[woman_height_index].replace([0], woman_height_mean)
df_height

<ipython-input-20-7654435c7309>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_height[man_height_index] = df_height[man_height_index].replace([0], man_height_mean)
<ipython-input-20-7654435c7309>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_height[woman_height_index] = df_height[woman_height_index].replace([0], woman_height_mean)

0       159
1       171
2       170
3       165
4       159
       ...
1313    167
1315    165
1316    171
1317    168
1318    170
Name: 身高（cm）, Length: 1231, dtype: object

In [21]:
df_weight = digital_data_exist_drop_replace['体重（kg）']
man_weight_index = (digital_data_exist_drop_replace['性别'] == 1) & (digital_data_exist_drop_replace['体重（kg）'].astype('float') == 0)
woman_weight_index = (digital_data_exist_drop_replace['性别'] == 2) & (digital_data_exist_drop_replace['体重（kg）'].astype('float') == 0)

In [22]:
df_weight[man_weight_index] = df_weight[man_weight_index].replace([0], man_weight_mean)
df_weight[woman_weight_index] = df_weight[woman_weight_index].replace([0], woman_weight_mean)
df_weight

<ipython-input-22-ea16b5fe9c1d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weight[man_weight_index] = df_weight[man_weight_index].replace([0], man_weight_mean)
<ipython-input-22-ea16b5fe9c1d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weight[woman_weight_index] = df_weight[woman_weight_index].replace([0], woman_weight_mean)

0       64.3
1       75.7
2       75.7
3         72
4       64.3
        ...
1313      67
1315      60
1316      51
1317      70
1318      84
Name: 体重（kg）, Length: 1231, dtype: object

In [23]:
digital_data_exist_drop_replace['身高（cm）'] = df_height
digital_data_exist_drop_replace['体重（kg）'] = df_weight
digital_data_exist_drop_replace.head()

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,已故,心源性死亡,新发/再发心肌梗死
0,陈庆英,2,159,64.3,66,94,153,61,k2,23,...,0,0,1,1,1.0,2,0.0,NaN,NaN,NaN
1,崔峰山,1,171,75.7,53,51,114,70,K1,23,...,0,1,1,0,0.0,1,0.0,NaN,NaN,NaN
2,付国桢,1,170,75.7,53,60,118,82,K1,23,...,0,0,0,1,0.0,1,0.0,NaN,NaN,NaN
3,胡继彬,1,165,72,58,61,128,71,K1,23,...,1,1,0,0,0.0,2,1.0,NaN,NaN,NaN
4,花成芳,2,159,64.3,48,76,125,60,K1,23,...,1,1,1,0,0.0,1,1.0,NaN,NaN,NaN

In [24]:
digital_data_exist_drop_replace.shape

(1231, 59)

In [25]:
df_flag = digital_data_exist_drop_replace[['已故', '心源性死亡', '新发/再发心肌梗死']]
df_flag

       已故 心源性死亡 新发/再发心肌梗死
0     NaN   NaN       NaN
1     NaN   NaN       NaN
2     NaN   NaN       NaN
3     NaN   NaN       NaN
4     NaN   NaN       NaN
...   ...   ...       ...
1313  NaN   NaN         无
1315  NaN   NaN         无
1316    是     是       NaN
1317  NaN   NaN         无
1318  NaN   NaN         无

[1231 rows x 3 columns]

In [26]:
df_flag = df_flag[['已故', '心源性死亡', '新发/再发心肌梗死']].replace(['否', '否，脑出血', '否，脑卒中', '否，癌症', '否，肿瘤', '无'], np.NaN)
df_flag

       已故 心源性死亡 新发/再发心肌梗死
0     NaN   NaN       NaN
1     NaN   NaN       NaN
2     NaN   NaN       NaN
3     NaN   NaN       NaN
4     NaN   NaN       NaN
...   ...   ...       ...
1313  NaN   NaN       NaN
1315  NaN   NaN       NaN
1316    是     是       NaN
1317  NaN   NaN       NaN
1318  NaN   NaN       NaN

[1231 rows x 3 columns]

In [27]:
df_flag['label'] = 0
df_flag.head()

    已故 心源性死亡 新发/再发心肌梗死  label
0  NaN   NaN       NaN      0
1  NaN   NaN       NaN      0
2  NaN   NaN       NaN      0
3  NaN   NaN       NaN      0
4  NaN   NaN       NaN      0

In [28]:
# (df_flag['已故'].isna()) & (df_flag['心源性死亡'].isna()) & (df_flag['新发/再发心肌梗死'].isna())
label = df_flag['label']
label[~(df_flag['已故'].isna()) & (df_flag['心源性死亡'].isna()) & (df_flag['新发/再发心肌梗死'].isna())] = 1
label[~(df_flag['心源性死亡'].isna()) & ~(df_flag['新发/再发心肌梗死'].isna())] = 2
label[~(df_flag['心源性死亡'].isna())] = 2
label[(df_flag['心源性死亡'].isna()) & ~(df_flag['新发/再发心肌梗死'].isna())] = 3

<ipython-input-28-75fbcb9c23ce>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label[~(df_flag['已故'].isna()) & (df_flag['心源性死亡'].isna()) & (df_flag['新发/再发心肌梗死'].isna())] = 1
<ipython-input-28-75fbcb9c23ce>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label[~(df_flag['心源性死亡'].isna()) & ~(df_flag['新发/再发心肌梗死'].isna())] = 2
<ipython-input-28-75fbcb9c23ce>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label[~(df_flag['心源性死亡'].isna())] = 2
<ipython-input-28-75fbcb9c23ce>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label[(df_flag['心源性死亡'].isna()) & ~(df_flag['新发/再发心肌梗死'].isna())] = 3

In [29]:
df_flag['label'] = label
df_flag.head()

    已故 心源性死亡 新发/再发心肌梗死  label
0  NaN   NaN       NaN      0
1  NaN   NaN       NaN      0
2  NaN   NaN       NaN      0
3  NaN   NaN       NaN      0
4  NaN   NaN       NaN      0

In [30]:
df_flag[(df_flag['心源性死亡'].isna()) & ~(df_flag['新发/再发心肌梗死'].isna())]

       已故 心源性死亡           新发/再发心肌梗死  label
71    NaN   NaN                   1      3
74    NaN   NaN                   1      3
168   NaN   NaN             有，医院诊断。      3
171   NaN   NaN             有，医院诊断。      3
204   NaN   NaN             有，医院诊断。      3
352   NaN   NaN                   1      3
369   NaN   NaN                   1      3
405   NaN   NaN                   1      3
421   NaN   NaN                   1      3
434   NaN   NaN                   1      3
435   NaN   NaN                   1      3
462   NaN   NaN                   1      3
467   NaN   NaN                   1      3
470   NaN   NaN                   1      3
498   NaN   NaN                   1      3
529   NaN   NaN                   1      3
576     1   NaN                   1      3
581   NaN   NaN                   1      3
661     1   NaN                   1      3
673   NaN   NaN                   1      3
680   NaN   NaN                   1      3
734   NaN   NaN                   1      3
859   NaN   NaN         有，不止一次，医院诊断      3
868   NaN   NaN                   1      3
1076  NaN   NaN            有，齐鲁医院诊断      3
1083  NaN   NaN          有，在千佛山医院确诊      3
1087  NaN   NaN  是，在市医院确诊，输液几天以后出院。      3
1167  NaN   NaN              有，医院诊断      3

In [31]:
df_flag[~(df_flag['已故'].isna()) & ~(df_flag['心源性死亡'].isna()) & ~(df_flag['新发/再发心肌梗死'].isna())]

    已故 心源性死亡 新发/再发心肌梗死  label
841  1     1         1      2

In [32]:
digital_data_exist_drop_replace['label'] = df_flag['label']
digital_data_exist_drop_replace.head()

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,已故,心源性死亡,新发/再发心肌梗死,label
0,陈庆英,2,159,64.3,66,94,153,61,k2,23,...,0,1,1,1.0,2,0.0,NaN,NaN,NaN,0
1,崔峰山,1,171,75.7,53,51,114,70,K1,23,...,1,1,0,0.0,1,0.0,NaN,NaN,NaN,0
2,付国桢,1,170,75.7,53,60,118,82,K1,23,...,0,0,1,0.0,1,0.0,NaN,NaN,NaN,0
3,胡继彬,1,165,72,58,61,128,71,K1,23,...,1,0,0,0.0,2,1.0,NaN,NaN,NaN,0
4,花成芳,2,159,64.3,48,76,125,60,K1,23,...,1,1,0,0.0,1,1.0,NaN,NaN,NaN,0

In [33]:
digital_data_exist_drop_replace = digital_data_exist_drop_replace.drop(columns=['已故', '心源性死亡', '新发/再发心肌梗死'])
digital_data_exist_drop_replace.head()

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,拜阿司匹林,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,label
0,陈庆英,2,159,64.3,66,94,153,61,k2,23,...,1,3,0,0,1,1,1.0,2,0.0,0
1,崔峰山,1,171,75.7,53,51,114,70,K1,23,...,1,3,0,1,1,0,0.0,1,0.0,0
2,付国桢,1,170,75.7,53,60,118,82,K1,23,...,1,3,0,0,0,1,0.0,1,0.0,0
3,胡继彬,1,165,72,58,61,128,71,K1,23,...,1,3,1,1,0,0,0.0,2,1.0,0
4,花成芳,2,159,64.3,48,76,125,60,K1,23,...,1,3,1,1,1,0,0.0,1,1.0,0

In [34]:
digital_data_exist_drop_replace['cTnT'] = 0
cTnT = digital_data_exist_drop_replace['cTnT']
cTnT[(digital_data_exist_drop_replace['临床诊断'] == 2) | (digital_data_exist_drop_replace['临床诊断'].isna())] = 1
cTnT

<ipython-input-34-159b95a1ea6c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cTnT[(digital_data_exist_drop_replace['临床诊断'] == 2) | (digital_data_exist_drop_replace['临床诊断'].isna())] = 1

0       1
1       1
2       1
3       1
4       1
       ..
1313    0
1315    0
1316    0
1317    1
1318    0
Name: cTnT, Length: 1231, dtype: int64

In [35]:
digital_data_exist_drop_replace['cTnT'] = cTnT
digital_data_exist_drop_replace[digital_data_exist_drop_replace['cTnT'] == 1].shape

(549, 58)

In [36]:
digital_data_exist_drop_replace = digital_data_exist_drop_replace.drop(columns=['cTnT(ng/l)'])
digital_data_exist_drop_replace.head()

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,label,cTnT
0,陈庆英,2,159,64.3,66,94,153,61,k2,23,...,3,0,0,1,1,1.0,2,0.0,0,1
1,崔峰山,1,171,75.7,53,51,114,70,K1,23,...,3,0,1,1,0,0.0,1,0.0,0,1
2,付国桢,1,170,75.7,53,60,118,82,K1,23,...,3,0,0,0,1,0.0,1,0.0,0,1
3,胡继彬,1,165,72,58,61,128,71,K1,23,...,3,1,1,0,0,0.0,2,1.0,0,1
4,花成芳,2,159,64.3,48,76,125,60,K1,23,...,3,1,1,1,0,0.0,1,1.0,0,1

In [37]:
jigan = digital_data_exist_drop_replace['肌酐（μmol/L）/88,4'].copy()
jigan[(digital_data_exist_drop_replace['肌酐（μmol/L）/88,4'].isna()) | (digital_data_exist_drop_replace['肌酐（μmol/L）/88,4'] ==  '？')] = 55
jigan[(digital_data_exist_drop_replace['肌酐（μmol/L）/88,4'].isna()) | (digital_data_exist_drop_replace['肌酐（μmol/L）/88,4'] ==  '？')]

971     55
1050    55
1150    55
Name: 肌酐（μmol/L）/88,4, dtype: object

In [38]:
digital_data_exist_drop_replace['肌酐（μmol/L）/88,4'] = jigan
digital_data_exist_drop_replace.loc[[971, 1050, 1150]]

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,label,cTnT
971,张增田,1,170,98,63,64,109,55,K1,23,...,1,1,1,0,0,1.0,1,0.0,0,1
1050,李志峰,1,166,93,39,60,124,55,NYHAⅡ,2,...,2,0,0,1,0,0.0,2,0.0,0,0
1150,张树岭,1,172,91,69,86,115,55,N2,2,...,2,1,1,1,0,0.0,1,1.0,0,0

In [39]:
digital_data_exist_drop_replace['Killip分级'] = digital_data_exist_drop_replace['Killip分级'].replace({'k2': 'K2', 'N1`': 'N1', 'Ｎ2～3': 'N2', 'NYHAⅠ': 'N1', 'NYHAⅡ': 'N2', 'NYHAⅢ': 'N3', 'NYHA I级': 'N1', 'NYHA II级': 'N2', 'k1': 'K1', ' N2': 'N2'})

In [40]:
digital_data_exist_drop_replace['Killip分级']

0       K2
1       K1
2       K1
3       K1
4       K1
        ..
1313    N3
1315    N2
1316    N2
1317    K2
1318    N3
Name: Killip分级, Length: 1231, dtype: object

In [41]:
Killip_index = sorted(list(set(digital_data_exist_drop_replace['Killip分级'].values)))
Killip_index

['K1', 'K2', 'K3', 'K4', 'N1', 'N2', 'N3', 'N4']

In [42]:
index = 0
Killip_set = {}
for item in Killip_index:
    Killip_set[item] = index
    index += 1
Killip_set

{'K1': 0, 'K2': 1, 'K3': 2, 'K4': 3, 'N1': 4, 'N2': 5, 'N3': 6, 'N4': 7}

In [43]:
digital_data_exist_drop_replace['Killip分级'] = digital_data_exist_drop_replace['Killip分级'].replace(Killip_set)
digital_data_exist_drop_replace['Killip分级']

0       1
1       0
2       0
3       0
4       0
       ..
1313    6
1315    5
1316    5
1317    1
1318    6
Name: Killip分级, Length: 1231, dtype: int64

In [44]:
digital_data_exist_drop_replace.head()

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,label,cTnT
0,陈庆英,2,159,64.3,66,94,153,61,1,23,...,3,0,0,1,1,1.0,2,0.0,0,1
1,崔峰山,1,171,75.7,53,51,114,70,0,23,...,3,0,1,1,0,0.0,1,0.0,0,1
2,付国桢,1,170,75.7,53,60,118,82,0,23,...,3,0,0,0,1,0.0,1,0.0,0,1
3,胡继彬,1,165,72,58,61,128,71,0,23,...,3,1,1,0,0,0.0,2,1.0,0,1
4,花成芳,2,159,64.3,48,76,125,60,0,23,...,3,1,1,1,0,0.0,1,1.0,0,1

In [45]:
digital_data_exist_drop_replace['危险级别'] = digital_data_exist_drop_replace['危险级别'].replace({'低危': 0, '中危': 1, '高危': 2})
digital_data_exist_drop_replace['危险级别']

0       2
1       1
2       1
3       1
4       1
       ..
1313    2
1315    2
1316    1
1317    2
1318    1
Name: 危险级别, Length: 1231, dtype: object

In [46]:
digital_data_exist_drop_replace['危险因素'] = digital_data_exist_drop_replace['危险因素'].replace(['2.3', '23', '2,3'], 1)
digital_data_exist_drop_replace['危险因素']

0       1
1       1
2       1
3       1
4       1
       ..
1313    2
1315    2
1316    2
1317    1
1318    2
Name: 危险因素, Length: 1231, dtype: object

In [47]:
digital_data_exist_drop_replace['高血压病史'] = digital_data_exist_drop_replace['高血压病史'].replace([np.NaN], 0)
sum(digital_data_exist_drop_replace['高血压病史'].isna())

0

In [48]:
digital_data_exist_drop_replace['高血压病史']

0       1.0
1       0.0
2       0.0
3       1.0
4       1.0
       ...
1313    0.0
1315    1.0
1316    0.0
1317    1.0
1318    1.0
Name: 高血压病史, Length: 1231, dtype: float64

In [49]:
# digital_data_exist_drop_replace['糖尿病病史'] = digital_data_exist_drop_replace['糖尿病病史'].replace({np.NAN: 0, 3: 1, 9: 1})
sum(digital_data_exist_drop_replace['糖尿病病史'].isna()), sum(digital_data_exist_drop_replace['糖尿病病史'] == 3), sum(digital_data_exist_drop_replace['糖尿病病史'] == 9)

(8, 1, 1)

In [50]:
digital_data_exist_drop_replace['糖尿病病史'] = digital_data_exist_drop_replace['糖尿病病史'].replace({np.NAN: 0, 3: 1, 9: 1})
sum(digital_data_exist_drop_replace['糖尿病病史'].isna()), sum(digital_data_exist_drop_replace['糖尿病病史'] == 3), sum(digital_data_exist_drop_replace['糖尿病病史'] == 9)

(0, 0, 0)

In [51]:
digital_data_exist_drop_replace['吸烟史'] = digital_data_exist_drop_replace['吸烟史'].replace([np.NaN], 0)
sum(digital_data_exist_drop_replace['吸烟史'].isna())

0

In [52]:
digital_data_exist_drop_replace['饮酒史'] = digital_data_exist_drop_replace['饮酒史'].replace({np.NAN: 0, '偶有': 1, '适量': 1})
sum(digital_data_exist_drop_replace['饮酒史'].isna()), sum(digital_data_exist_drop_replace['饮酒史'] == '偶有'), sum(digital_data_exist_drop_replace['饮酒史'] == '适量')

(0, 0, 0)

In [53]:
digital_data_exist_drop_replace['饮酒史']

0       0
1       1
2       1
3       1
4       0
       ..
1313    1
1315    1
1316    0
1317    0
1318    1
Name: 饮酒史, Length: 1231, dtype: object

In [54]:
print(sum(digital_data_exist_drop_replace['心肌梗死史'].isna()), sum(digital_data_exist_drop_replace['心肌梗死史'] == '？'))
digital_data_exist_drop_replace['心肌梗死史'] = digital_data_exist_drop_replace['心肌梗死史'].replace({np.NAN: 0, '？': 0})
print(sum(digital_data_exist_drop_replace['心肌梗死史'].isna()), sum(digital_data_exist_drop_replace['心肌梗死史'] == '？'))

3 3
0 0

In [55]:
print(sum(digital_data_exist_drop_replace['血运重建史'].isna()), sum(digital_data_exist_drop_replace['血运重建史'] == '溶栓'), sum(digital_data_exist_drop_replace['血运重建史'] == '1、2'))
digital_data_exist_drop_replace['血运重建史'] = digital_data_exist_drop_replace['血运重建史'].replace({np.NAN: 0, '溶栓': 4, '1、2': 2})
print(sum(digital_data_exist_drop_replace['血运重建史'].isna()), sum(digital_data_exist_drop_replace['血运重建史'] == '溶栓'), sum(digital_data_exist_drop_replace['血运重建史'] == '1、2'))

4 4 0
0 0 0

In [56]:
print(sum(digital_data_exist_drop_replace['心力衰竭史'].isna()), sum(digital_data_exist_drop_replace['心力衰竭史'] == '1、3'))
digital_data_exist_drop_replace['心力衰竭史'] = digital_data_exist_drop_replace['心力衰竭史'].replace({np.NAN: 0, '1、3': 1})
print(sum(digital_data_exist_drop_replace['心力衰竭史'].isna()), sum(digital_data_exist_drop_replace['心力衰竭史'] == '1、3'))

10 0
0 0

In [57]:
print(sum(digital_data_exist_drop_replace['脑血管病史'].isna()))
digital_data_exist_drop_replace['脑血管病史'] = digital_data_exist_drop_replace['脑血管病史'].replace({np.NAN: 0})
print(sum(digital_data_exist_drop_replace['脑血管病史'].isna()))

3
0

In [58]:
print(sum(digital_data_exist_drop_replace['呼吸系统病史'].isna()))
digital_data_exist_drop_replace['呼吸系统病史'] = digital_data_exist_drop_replace['呼吸系统病史'].replace({np.NAN: 0})
print(sum(digital_data_exist_drop_replace['呼吸系统病史'].isna()))

3
0

In [59]:
print(sum(digital_data_exist_drop_replace['肾功能不全'].isna()), sum(digital_data_exist_drop_replace['肾功能不全'] == '尿酸高10+年'))
digital_data_exist_drop_replace['肾功能不全'] = digital_data_exist_drop_replace['肾功能不全'].replace({np.NAN: 0, '尿酸高10+年': 1})
print(sum(digital_data_exist_drop_replace['肾功能不全'].isna()), sum(digital_data_exist_drop_replace['肾功能不全'] == '尿酸高10+年'))

3 1
0 0

In [60]:
# ~(digital_data_exist_drop_replace['早发心血管疾病家族史'] == '0') & ~(digital_data_exist_drop_replace['早发心血管疾病家族史'] == '1')
heart_family_history = digital_data_exist_drop_replace['早发心血管疾病家族史'].copy()
heart_family_history[~(digital_data_exist_drop_replace['早发心血管疾病家族史'] == '0') & ~(digital_data_exist_drop_replace['早发心血管疾病家族史'] == '1') & ~(digital_data_exist_drop_replace['早发心血管疾病家族史'].isna())] = 1
digital_data_exist_drop_replace['早发心血管疾病家族史'] = heart_family_history

In [61]:
digital_data_exist_drop_replace[~(digital_data_exist_drop_replace['早发心血管疾病家族史'] == '0') & ~(digital_data_exist_drop_replace['早发心血管疾病家族史'] == '1') & ~(digital_data_exist_drop_replace['早发心血管疾病家族史'].isna())]['早发心血管疾病家族史']

890     1
891     1
895     1
896     1
904     1
912     1
957     1
1032    1
1033    1
1034    1
Name: 早发心血管疾病家族史, dtype: object

In [62]:
print(sum(digital_data_exist_drop_replace['早发心血管疾病家族史'].isna()))
digital_data_exist_drop_replace['早发心血管疾病家族史'] = digital_data_exist_drop_replace['早发心血管疾病家族史'].replace({np.NAN: 0})
print(sum(digital_data_exist_drop_replace['早发心血管疾病家族史'].isna()))

3
0

In [63]:
print(sum(digital_data_exist_drop_replace['心律失常病史'].isna()))
digital_data_exist_drop_replace['心律失常病史'] = digital_data_exist_drop_replace['心律失常病史'].replace({np.NAN: 0})
print(sum(digital_data_exist_drop_replace['心律失常病史'].isna()))

4
0

In [64]:
# digital_data_exist_drop_replace[['颈动脉斑块(有无斑块)左侧', '颈动脉斑块(有无斑块)右侧', '颈动脉斑块(有无斑块)双侧']] = digital_data_exist_drop_replace[['颈动脉斑块(有无斑块)左侧', '颈动脉斑块(有无斑块)右侧', '颈动脉斑块(有无斑块)双侧']].replace({np.NAN: 0, 'n': 3, '2，闭塞': 2})
# digital_data_exist_drop_replace[['颈动脉斑块(有无斑块)左侧', '颈动脉斑块(有无斑块)右侧', '颈动脉斑块(有无斑块)双侧']] = digital_data_exist_drop_replace[['颈动脉斑块(有无斑块)左侧', '颈动脉斑块(有无斑块)右侧', '颈动脉斑块(有无斑块)双侧']].replace(['·', '多个', '多发', '多处', '弥漫性', '闭塞'], 3)
print(digital_data_exist_drop_replace.shape)
digital_data_exist_drop_replace = digital_data_exist_drop_replace.drop(columns=['颈动脉斑块(有无斑块)左侧', '颈动脉斑块(有无斑块)右侧', '颈动脉斑块(有无斑块)双侧', '临床诊断'])
digital_data_exist_drop_replace

(1231, 57)

,姓名,性别,身高（cm）,体重（kg）,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,...,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,label,cTnT
0,陈庆英,2,159,64.3,66,94,153,61,1,1,...,3,0,0,1,1,1.0,2,0.0,0,1
1,崔峰山,1,171,75.7,53,51,114,70,0,1,...,3,0,1,1,0,0.0,1,0.0,0,1
2,付国桢,1,170,75.7,53,60,118,82,0,1,...,3,0,0,0,1,0.0,1,0.0,0,1
3,胡继彬,1,165,72,58,61,128,71,0,1,...,3,1,1,0,0,0.0,2,1.0,0,1
4,花成芳,2,159,64.3,48,76,125,60,0,1,...,3,1,1,1,0,0.0,1,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313,许学东,1,167,67,65,67,92,55,6,2,...,2,1,1,1,1,0.0,1,0.0,0,0
1315,张成银,1,165,60,74,85,157,113,5,2,...,2,1,0,0,0,1.0,1,0.0,0,0
1316,张玉林,1,171,51,55,78,112,60,5,2,...,2,1,1,1,0,0.0,2,0.0,2,0
1317,张枕芝,1,168,70,80,69,91,131,1,1,...,1,1,1,1,0,1.0,1,0.0,0,1
1318,赵庆文,1,170,84,50,79,138,77,6,2,...,3,1,0,0,1,0.0,2,0.0,0,0

In [66]:
digital_data_exist_drop_replace['NT-poBNP(pg/mL)'].sort_values()

874     0.00
893     0.01
328     5.00
796     5.00
980     6.87
        ...
1301     NaN
1306     NaN
1312     NaN
1316     NaN
1318     NaN
Name: NT-poBNP(pg/mL), Length: 1231, dtype: float64